/* File: styles.css */

/* Hero Section */
.hero {
    background-image: url('img/hero.jpg'); /* Ganti dengan gambar hero yang sesuai */
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.hero p {
    font-size: 1.2rem;
}

/* Card Section */
.card-section {
    padding: 60px 0;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 15px;
}

/* Footer */
footer {
    background-color:#004d4d;
    color: white;
    padding: 40px 0;
}

footer .social-links a {
    color: white;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s;
}

footer .social-links a:hover {
    color: #c8e6c9;
}

footer p {
    margin-top: 20px;
    font-size: 0.9rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .hero {
        height: 40vh;
    }

    .hero h1 {
        font-size: 2rem;
    }
}
/*navbar*/
.sticky-navbar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1020; /* Ensures the navbar stays above other content */
}
.bg-custom {
    background-color: #004d4d;
}